:root {
  --bg-color: hsl(235, 21%, 11%);
  --task-bg-color: hsl(235, 24%, 19%);
  --text-color-task: hsl(234, 39%, 85%);
  --text-color-normal: hsl(234, 11%, 52%);
  --text-color-sort: hsl(236, 33%, 92%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-gray {
  color: var(--text-color-normal);
}

.pointer {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: var(--bg-color);
  transition: all 0.5s;
}

header {
  width: 100%;
  height: 30rem;
  background-image: url('images/bg-desktop-dark.jpg');
  background-size: cover;
  transition: all 0.5s;
}

.container {
  max-width: 72rem;
  margin: auto;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 0) and (max-width: 375px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-image: url('images/bg-mobile-dark.jpg');
  }
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}

header .nav__heading {
  color: hsl(0deg, 0%, 98%);
  letter-spacing: 7px;
  font-size: xx-large;
  text-transform: uppercase;
}

.main__container {
  background: none;
  margin-inline: auto;
  margin-top: -16rem;
  margin-bottom: 5rem;
}

.main__create-task {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  margin-bottom: 5rem;
}
.main__create-task .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--task-bg-color);
  padding: 1.75rem;
  border-radius: 7px;
}
.main__create-task .form__submit {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: none;
  border: 1px solid var(--text-color-normal);
  cursor: pointer;
  margin-right: 0.75rem;
}
.main__create-task .form__submit:hover {
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      var(--task-bg-color),
      var(--task-bg-color)
    ),
    linear-gradient(to right, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

@media screen and (max-width: 600px) {
  .main__create-task .form__submit {
    height: 2.4rem;
  }
}
.main__create-task .form__input {
  width: 95%;
  background: none;
  border: none;
  outline: 0;
  font-size: 1.8rem;
  color: var(--text-color-task);
}
.main__list {
  display: flex;
  flex-direction: column;
}
.main__list--tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--task-bg-color);
  padding: 1.75rem;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid hsl(233deg, 14%, 35%);
  position: relative;
  line-height: 1.3;
}

.main__list--tasks li:not(:first-of-type) {
  border-radius: 0;
}

.main__list--tasks li button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: none;
  border: 1px solid var(--text-color-normal);
  cursor: pointer;
  margin-right: 1rem;
}
.main__list--tasks li .done-btn:hover {
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      var(--task-bg-color),
      var(--task-bg-color)
    ),
    linear-gradient(to right, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.main__list--tasks .item__title {
  margin-right: auto;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--text-color-task);
}

.task-done .item__title {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-done .done-btn {
  background: url('../images/icon-check.svg'),
    linear-gradient(to right, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}

.task-done .done-btn:hover {
  border: 1px solid var(--text-color-normal) !important;
  background: url('../images/icon-check.svg'),
    linear-gradient(to right, hsl(192deg, 100%, 70%), hsl(280deg, 87%, 70%)) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.main__list--sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--task-bg-color);
  padding: 1.75rem;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: var(--text-color-normal);
  font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
  .main__list--sort {
    flex-wrap: wrap;
    gap: 3rem 0;
  }
}

.main__list--sort li:not(:first-of-type):hover {
  color: var(--text-color-sort);
  transition: all 0.25s;
}
.main__list--sort .active {
  color: hsl(220deg, 98%, 61%) !important;
}
.main__list--sort button {
  font-size: inherit;
  text-transform: capitalize;
  color: var(--text-color-normal);
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.25s;
}

.main__list--sort button:hover {
  color: var(--text-color-sort);
}

@media screen and (max-width: 600px) {
  .main .main__list--sort .tasks-left {
    order: 1;
    flex-basis: 72%;
  }

  .main .main__list--sort .btn {
    order: 2;
    flex-basis: auto;
  }

  .main .main__list--sort .all-tasks {
    order: 3;
    flex-basis: 25%;
  }

  .main .main__list--sort .active-tasks {
    order: 4;
    flex-basis: 25%;
  }

  .main .main__list--sort .completed-tasks {
    order: 5;
    flex-basis: 14%;
  }
}

.hidden {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  transition: 'color 9999s ease-out, background-color 9999s ease-out';
  transition-delay: 9999s;
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  color: var(--text-color-normal);
  line-height: 1.8;
  padding-bottom: 1rem;
}
.attribution a {
  color: var(--text-color-task);
}
